<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>x.github.com</title>
   <link rel="stylesheet" href="/css/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div id="doc" class="yui-t7">
  <div id="hd" role="banner">
    <div class="yui-g">
      <div class="yui-u first" id="title">
        <h1><span id="github">x</span>.github</span></h1>
      </div>
      <% if @repo %>
      <div class="yui-u" id="menu">
        <ul class="<%= @tab %>">
          <li id='source'><a href="/<%= @repo_name %>">source</a></li>
          <li id='log'><a href="/<%= @repo_name %>/log">log</a></li>
          <li id='refs'><a href="/<%= @repo_name %>/refs">refs</a></li>
          <li><a href="#">github</a></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>

  <%= yield %>

  <div id="ft" role="contentinfo">
    <a href="http://github.com/blog">Blog</a> |
    <a href="http://support.github.com">Support</a> |
    <a href="http://github.com/training">Training</a> |
    <a href="http://github.com/contact">Contact</a> |
    <a href="http://github.com/help">Help</a>
  </div>
</div>
</body>
</html>

