<div id="bd" role="main">

  <%= erb(:project_head, :layout => false) %>

  <div class="yui-g logs">
    <table width="100%" class="log">
    <% @repo.log(@commit.sha, {:count => 100}).each do |sha, commit| %>
      <% m, name, email, time = *commit['author'].match(/(.*) <(.+?)> (.+?) (.*)/) %>
      <tr>
        <td><code><a href="/<%= @repo_name %>/commit/<%= sha %>"><%= sha[0, 10] %></a></code></td>
        <td><%= Time.at(time.to_i).strftime("%m/%d") %></td>
        <td><%= gravatar(email, 18) %></td>
        <td><%= name.split(' ').first %></td>
        <td><%= commit['message'][0, 60] %></td>
      </tr>
    <% end %>
    </table>
  </div>

</div>

