<div id="bd" role="main">

  <%= erb(:project_head, :layout => false) %>

  <div class="yui-g" id="refs">
    <center>
    <table class="refs">
    <% @repo.refs.each do |type, refs| %>
      <% next if type == 'meta' %>
      <tr><td colspan="2"><h2><%= type %></h2></td></tr>
      <% refs.each do |ref, value| %>
        <% next if value[0, 3] == 'ref' %>
        <tr>
          <td><%= ref %></td>
          <td><code><a href="/<%= @repo_name %>/commit/<%= value %>"><%= value %></code></td>
        </tr>
      <% end %>
    <% end %>
    </table>
    </center>
  </div>

</div>

