<div id="bd" role="main">

  <%= erb(:project_head, :layout => false) %>

  <% if @path %>
    <h2 class="path"><%= @path %>/</h2>
  <% end %>

  <div class="yui-g files">
    <table>
      <% @tree.sort.each do |file, info| %>
        <tr>
          <td>
          <% if info['type'] == 'tree' %>
            <img src="/img/dir.png">
          <% else %>
            <img src="/img/txt.png">
          <% end %>
          </td>
          <!-- <td><span class="entry-mode"><%= info['mode'] %></span></td> -->
          <% path = @path ? File.join(@path, file) : file %>
          <td><a href="/<%= @repo_name %>/commit/<%= @commit.sha %>/<%= path %>/<%= info['sha'] %>"><%= file %></a></td>
          <td width="90%" align="right"><span class="entry-sha"><%= info['sha'][0,10] %></span></td>
        </tr>
      <% end %>
    </table>
  </div>

  <% if !@path && (rm = @commit.readme) %>
    <div class="yui-g blob">
      <pre><%= rm %></pre>
    </div>
  <% end %>

</div>

